<div class="box">
	<img src="../../assets/images/illustration.jpg" class="image-responsive" width="720px">
</div>
<div class="form-container" >
    <div class="alert alert-danger" *ngIf="isError">
       <p> {{ isError }} </p>
    </div>
    <div *ngIf="isLoading">
        <app-loading-spinner style="text-align:center"></app-loading-spinner>
    </div>
	<p class="title">Login</p>
	<form class="form" #f="ngForm" (ngSubmit)="onLogin(f)" *ngIf ="!isLoading">
		<div class="input-group">
			<label for="username">Email</label>
			<input type="text"  name="email" id="username" placeholder="your email address" required ngModel minlength="6" email>
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password"  name="password" id="password" placeholder="your password" required ngModel minlength="6">
			<div class="forgot">
				<a rel="noopener noreferrer" href="#">Forgot Password ?</a>
			</div>
		</div>
		<button class="sign" type="submit"  [disabled]="!f.valid">Login</button>
	</form>

	<p class="signup">Don't have an account?
		<a rel="noopener noreferrer" routerLink="/signup" class="">Sign Up</a>
	</p>
</div>
