<div class="container" >

<form class="row g-3">
    <div class="col-md-6">
      <label for="inputname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="inputname">
    </div>
    <div class="col-md-6">
      <label for="inputlastname" class="form-label">Lastname</label>
      <input type="text" class="form-control" id="inputlastname">
    </div>
    <div class="col-12">
      <label for="inputContact" class="form-label">Contact Details</label>
      <input type="number" class="form-control" id="inputContact" placeholder="">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
  <hr>
  <div style="margin-top: 20px; border-top: 1px solid rgba(0, 0, 0, 0.05);">
    <h3>FAQs</h3>
    <p><b>What happens when I update my email address (or mobile number)?</b></p>
    <p>Your login email id (or mobile number) changes, likewise. You'll receive all your account related
        communication on your updated email address (or mobile number).
    </p>
    <p><b>When will my Flipkart account be updated with the new email address (or mobile number)?</b></p>
    <p> It happens as soon as you confirm the verification code sent to your email (or mobile) and save the
        changes.</p>

    <p><b> What happens to my existing Flipkart account when I update my email address (or mobile number)?</b>
    </p>
    <p> Updating your email address (or mobile number) doesn't invalidate your account. Your account remains
        fully functional. You'll continue seeing your Order history, saved information and personal details.</p>

    <p><b>Does my Seller account get affected when I update my email address?</b></p>
    <p> Flipkart has a 'single sign-on' policy. Any changes will reflect in your Seller account also.</p>
</div>
</div>