
<div class="container-fluid flex height">
    <div class="container-sm inline-block">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner ">
              <div class="carousel-item active">
                <img src="{{image}}" class="d-block w-100" alt="..." style="width : 520px; height : 500px; border-radius: 5%;">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

<div class="container index">
    <h1 class="up">{{name}}</h1>
    <p class="up">{{description}}</p>
    <h5 class="up">Rating: {{rating}}</h5>
    <hr>
    <ul class="bad">
      <li class="up">Brand : {{brand}} </li>
      <li class="up">Model Name:{{model}}</li>
      <li class="up">Color : {{color}}</li>
    </ul>
    <hr>
  
</div>

</div>
