<h4 style="color: #0e141e">Order Details</h4>
<div class="black">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Products Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sub Total</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="white">Shipping Address</td>
            <td class="white">Address</td>
          </tr>
          <tr>
            <td class="white">Discount</td>
            <td class="white">$ 4.00</td>
          </tr>
          <tr>
            <td class="white">Grand Total</td>
            <td class="white">$ 4.00</td>
          </tr>
        </tbody>
        
      </table>
      <button class="button"></button>
</div>
