<nav class="navbar navbar-expand-lg bg-light" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../../../assets/images/logo.svg" width="300px" height="50px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent pull-right">
       
        <ul class="nav  justify-content-end " >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color:#32c766; font-weight: 550;" routerLinkActive="active"routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:#32c766;font-weight: 550;"routerLinkActive="active" routerLink="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" style="color:#32c766;font-weight: 550;">Images</a> 
          </li>
          <li class="nav-item"   *ngIf="accessprofile">
            <a class="nav-link" routerLink="side-nav"><img src="../../../assets/images/IMG_20200309_132647.jpg"
              width="30px"></a>
          <div class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="['/profile']"> Profile Info</a></li>
          </div>
          </li>
        </ul>
        
    </div>
    <button class="btn btn-outline-success" type="button" style="color:#32c766;font-weight: 600;"(click)="goToLogin()" *ngIf="!accessprofile">Login</button>
    </div>
  </nav>
