<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark adjust"
  style="width: 280px ; height: 60vh;" 
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="40">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">
      <h3 style="margin: 0">{{ username ? username : "stranger" }}</h3></span
    >
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a [routerLink]="['/myprofile', 'profile']" class="nav-link text-white" [ngClass]="{'active': isActive}" [routerLinkActive] = "['active']" >
        Dashboard
      </a>
    </li>
    <li>
      <a [routerLink]="['/myprofile', 'shopping-cart']" class="nav-link text-white" [routerLinkActive] = "['active']">
        Cart
      </a>
    </li>
    <li>
      <a [routerLink]="['/myprofile', 'rewards']" class="nav-link text-white"  [ngClass]="{'active': isActive}" [routerLinkActive] = "['active']">
        Rewards
      </a>
    </li>
  </ul>
  <a style="cursor: pointer"
    ><div class="title contain" (click)="onLogout()">
      LOGOUT &nbsp; &nbsp;
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        fill="currentColor"
        class="bi bi-box-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
        />
        <path
          fill-rule="evenodd"
          d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
        />
      </svg></div
  ></a>
</div>
