

<div class="sidebar-container" id="sidebar" >

    <ul class="list-group" id="badakaro">
        <li class="list-group-item">
            <table>
                <tr>
                    <td>
                        <img src="../../../assets/images/IMG_20200309_132647.jpg" width="40px">
    
                    </td>
                    <td style="padding-left: 15px;">
                        <span>Hello,</span>
                        <h3 style="margin: 0">{{username ? username : "stranger" }}</h3>
                    </td>
                </tr>
            </table>
    
        </li>
        <li class="list-group-item">
            <div class="list">
    
                <div class="left-icon contain">
                </div>
                <div class="title contain">
                    MY ORDERS
                </div>
                <div class="right-icon contain">
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="list">
    
                <div class="left-icon contain">
                </div>
                <div class="title contain">
                    ACCOUNT SETTINGS
                </div>
                <div class="right-icon contain">
                </div>
                <div class="child-list">
                    <ul>
                        <a routerLink="profile" routerLinkActive="active">
                            <li>Personal Information</li>
                        </a>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="list">
    
                <div class="left-icon contain">
                </div>
                <div class="title contain">
                    PAYMENTS
                </div>
                <div class="right-icon contain">
                </div>
                <div class="child-list">
                    <ul>
                        <a routerLink="saved-cards" routerLinkActive="active">
                            <li>Saved Cards</li>
                        </a>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="list">
                <div class="left-icon contain">
                </div>
                <div class="title contain">
                    MY STUFF
                </div>
                <div class="right-icon contain">
                </div>
                <div class="child-list">
                    <ul>
                        <a routerLink="rewards" routerLinkActive="active">
                            <li>Rewards</li>
                        </a>
                        <a routerLink="['reviews']" routerLinkActive="active">
                            <li>Reviews</li>
                        </a>
                        <a routerLink="wishlist" routerLinkActive="active">
                            <li>My Wishlist</li>
                        </a>
    
                    </ul>
                </div>
    
            </div>
        </li>
        <li class="list-group-item">
            <div class="list">
                <div class="left-icon contain">
                </div>
                <a style="cursor: pointer;"><div class="title contain" (click)="Logout()">
                    LOGOUT &nbsp; &nbsp;
                   <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                      </svg>
                </div></a>
                <div class="right-icon contain">
                </div>
            </div>
        </li>
      </ul>
    </div>
    <hr>