<div class="grid">
  <div class="accord right" *ngIf="occur">
    <!-- Add content here based on your requirement -->
  </div>
  <div class="container-lg grid-4-cols">
    <div class="container" *ngFor="let item of productApiData">
      <div class="card" style="width: 18rem">
        <img src="{{ item.image }}" class="image-responsive" style="width: 280px; height: 180px" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
        </div>
        <div class="card-body">
          <!-- Use Angular's routerLink directive to navigate to the single product page -->
          <a class="btn btn-primary" [routerLink]="['/products', item.id]">See More Details</a>&nbsp;
          <a class="btn btn-success" (click)="onAddToCart()">ADD</a>
        </div>
      </div>
    </div>
  </div>
</div>
