.grid-4-cols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    row-gap: 15px;
    float: right;
}
.right{
    display: block;
    float: left;
    margin-top: 20px;
 width: 300px;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.accord{
    width:300px
}
.style {
    background-color: #111827ef;
}
.card-title {
    background-color: aliceblue;
}