<div class="form-box">
    <form class="form" #f="ngForm" (ngSubmit) = "onSignUp(f)">
        <span class="title">Sign up</span>
        <span class="subtitle">Create a free account with your email.</span>
        <div class="form-container">
          <input type="text" class="input" name="userName"id="userName"placeholder="userName" ngModel>
                <input type="email" class="input" name="email" id="email" placeholder="Email" ngModel minlength="6" email>
                <input type="password" class="input" name="password" id="password" placeholder="Password" ngModel minlength="6">
        </div>
        <button type="submit">Sign up</button>
    </form>
    <div class="form-section">
      <p>Have an account? <a routerLink="/login">Log in</a> </p>
    </div>
    </div>
