.bf{
    border-left : 7px solid #32c766
}
#button {
    color : black
}
.cart-container{
    
    display:block;
    float: right
}
.btnary {
    text-align: center;
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: rgb(131, 56, 201);
    border: 3px solid #32c766;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btnary::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(136, 128, 185);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btnary:hover::before {
    transform: translateX(0);
   }
   .white {
    color : #0e141e
}