<div class="shopping-cart-conatiner">

    <hr>
<div class="cart-container" >

  <div class="title container-lg bf">
    <span><h2>My Cart</h2></span>
</div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Preview</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody *ngFor="let product of cartProducts;">
          <tr>
            <th scope="row"><img src="{{product.image}}" width="144px" height="96px"></th>
            <td><div class="name">
                <h3>{{product.name}}</h3>
                <p>{{product.description}}</p>
            </div></td>
            <td><div class="price">
                {{product.price}}
            </div></td>
            <td>1</td>
            <td>$4.90</td>
            <button class="btn btn-danger" id="button" (click)="deleteProduct(product)">delete</button>
          </tr>
        
        </tbody>
      </table>
      <h4>Cart Details</h4>
      <div class="container">
        <table class="table table-dark table-borderless">
            <thead>
                <tr>
                  <th scope="col">SubTotal</th>
                  <th scope="col">$20.00</th>
                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Delivery</th>
                  <td>$10.00</td>
           
                </tr>
                <tr>
                  <th>Discount</th>
                  <td>$5.00</td>
                </tr>
                <hr>
                <tr>
                    <th>Total</th>
                    <td>$25.00</td>
                </tr>
               
              </tbody>
          </table>
      </div>
      <div class="container">
        <a class="btnary" href="#">Proceed To CheckOut</a>
            </div>
</div>
    

</div>
