<div class="blockcode">
  
    <footer class="page-footer shadow">
      <div class="d-flex flex-column mx-auto py-5 hi" style="width: 80%">
        <div class="d-flex flex-wrap justify-content-between">
          <div>
            <a href="/" class="d-flex align-items-center p-0 text-dark">
              <!-- <img alt="logo" src="../img/logo.png" width="30px" /> -->
              <span class="ms-3 h5 font-weight-bold"></span>
            </a>
            <p class="about" style="width: 250px">
              We provide you Basic Products for day-to-day life which make your day easier , Hope you will like this Application
            </p>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Connect with Us</p>
            <ul class="p-0 flex" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" href="/"><img src="../../../assets/images/twiiter.gif"></a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/"><img src="../../../assets/images/fb.gif"></a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/"><img src="../../../assets/images/ig.gif"></a>
              </li>
              <li class="my-2">
                <a class="text-dark" href="/"><img src="../../../assets/images/wa.gif"></a>
              </li>
            </ul>
          </div>
          <div>
            <p class="h5 mb-4" style="font-weight: 600">Have You SignUp ?</p>
            <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
                <a class="text-dark" style="text-decoration: none; font-size: 17;font-weight: 500;" routerLink="signup">Sign Up</a>
              </li>
              <li class="my-2">
                <a class="text-dark" style="text-decoration: none; font-size: 17;font-weight: 500;" routerLink="login">Log In</a>
              </li>
            </ul>
          </div>     
        </div>
        <small class="text-center mt-5">&copy; Shopify, 2020. All rights reserved.</small>
      </div>
    </footer>
  </div>
